ul.ajTabs li {
  width: 33.33% !important;
  margin-bottom: 0; }

div#top-news ul.ajTabs li {
  width: 33.33% !important;
  margin-bottom: 0; }

div.advPromotion ul.ajTabs li {
  width: 20% !important;
  margin-bottom: 0; }
